<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Feature Flags Dashboard</title>

  <meta name="viewport"
    content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, viewport-fit=cover" />
  <meta name="apple-mobile-web-app-title" content="Sample" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#0ACEC7" />

  <!-- CSS -->
  <link crossorigin="" rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
  <link crossorigin="" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />


  <!-- <link crossorigin rel="manifest" href="/site.webmanifest"> -->
</head>

<body>
  <div id="root"> </div>
</body>

</html>
